# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# NuGet Packages
*.nupkg
*.pdb
*.dll
*.exe

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
obj/
bin/

# Visual Studio Code - added since Release 1.56
.history/

# Rider - added since v2020.1
.idea/
*.csproj.user
